# macOS
.DS_Store
.netrc

# Xcode
*.xcworkspace
*.xcodeproj
xcuserdata/
DerivedData/
*.xcuserstate
*.xcdebugger
*.moved-aside

# Swift Package Manager
.build/
Packages/
.swiftpm/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
Package.resolved

# Xcode workspace/project temporary files
*.swp
*.lock

# Logs, indexes, and archives
*.xcactivitylog
*.xcarchive

# Carthage/Pods (if used)
Carthage/Build/
Pods/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/*.png
fastlane/test_output

# Derived/Binary files
*.dSYM
*.framework
*.app
